<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Admin layout</h1>
    <a href="@Url.Action("index", "home")">Home</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
