<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<body>
    <h1>I am layout page</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
