<h1 class="text-center my-5">File Uploading</h1>

<form asp-action="Index" method="post" enctype="multipart/form-data">
	<div class="mb-3">
		<input class="form-control" type="file" name="file" />
	</div>

	<div class="mb-3">
		<button>click to upload</button>
	</div>
</form>