@model session13AuthWithIdentity.ViewModels.RegisterViewModel

<h1>Register</h1>

<form asp-action="Register" method="post">
	<div>
		<input class="form-control" asp-for="Email" placeholder="Enter your email"/>
		<span asp-validation-for="Email"></span>
	</div>

	<div>
		<input class="form-control" asp-for="Password" placeholder="Enter your password" />
		<span asp-validation-for="Password"></span>
	</div>

	<div>
		<input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm password" />
		<span asp-validation-for="ConfirmPassword"></span>
	</div>

	<div>
		<input type="submit" value="click to register"/>
	</div>

</form>
