<h1>I am index page</h1>

<a href="/home/contact">Goto contact</a>

<a asp-controller="Home" asp-action="contact">Go to contact page</a>
<a asp-controller="Home" asp-action="about">Go to about page</a>